{% extends 'base.html'%}
{% block content %}

<form action="" method="post">
	<label for="username">ID:</label>
				<select name="username" >
				{% for u in usernames %}
				<option value="{{ u }}">{{ u }}</option>
				{% endfor %}
				</select>
	
	<label for="date">日期:</label>
	
				<select name="year" >
				{% for y in years %}
				<option value="{{ y }}">{{ y }}</option>
				{% endfor %}
				</select>
				年
	
				<select name="month">
				{% for m in months %}
				<option value="{{ m }}">{{ m }}</option>
				{% endfor %}
				</select>
				月
	
	
				<select name="date">
				{% for d in dates %}
				<option value="{{ d }}">{{ d }}</option>
				{% endfor %}
				</select>
				日
	<label for="late">是否迟到：</label>
    <input id="late" type="radio" name="late" value="1">是
    <input id="late" type="radio" name="late" value="0">否
    <input type="submit" value="确定">
</form>


{% endblock %}